* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* CSS Variables */
:root {
    --primary_color: #FF5400;
    --secondary_color: #131318;
    --description_color: #5A5A5D;
    --title_color: #fff;
    --manu_color: #424247;
    --bannner_section_color: #ffffff4d;
}

/* shared styles */
body {
    margin: 50px auto;
    max-width: 1440px;
}

.popular_tours_title {
    color: var(--secondary_color);
    font-size: 2.5rem;
    font-weight: 800;
}

/* header area styles */

nav {
    display: flex;
    justify-content: space-between;
}

.site_name {
    display: flex;
    font-size: 2.25rem;
    column-gap: 16px;
}

.site_name_2nd {
    color: var(--primary_color);
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul a {
    text-decoration: none;
    margin-left: 44px;
    font-size: 1.13rem;
    /* color: var(--secondary_color); */
}

.manu_bar_active {
    color: var(--primary_color);
    font-weight: 700;
}

/* banner section styles */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    /* margin: 106px 185px; */
    padding: 106px 185px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-top: 49px;
}

.banner_content {
    width: 675px;
    margin: auto;
    text-align: center;
}

.banner_title {
    color: var(--title_color);
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 24px;
}

.banner_description {
    color: var(--title_color);
    margin-bottom: 50px;
}

.search {
    border-radius: 8px;
    background: var(--bannner_section_color);
    display: flex;
    justify-content: center;
    column-gap: 24px;
    padding: 16px;
    width: 800px;
    margin: auto;
}

.search input,
select,
.submit_button {
    padding: 16px;
    border-style: none;
    border-radius: 8px;
    width: 174px;
    color: #13131880;
}

.submit_button {
    color: var(--title_color);
    background-color: var(--primary_color);
    font-weight: 700;
}

/* popular tours section styles */

.popular_tours_section {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
    column-gap: 200px;
}

.content_area {
    color: var(--description_color);
}

.content_area p {
    margin: 26px 0px;
    text-align: justify;
}

.content_area li {
    margin: 26px 0px;
}

.read_more_button {
    color: var(--title_color);
    background-color: var(--primary_color);
    border-style: none;
    padding: 15px 35px;
    font-size: 1.2rem;
    border-radius: 8px;
    font-weight: 800;
    margin-top: 60px;
}

/* destination section styles */

.destination_content {
    text-align: center;
}

.destination_content>h2 {
    color: var(--secondary_color);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination_content>p {
    width: 645px;
    margin: auto;
    margin-bottom: 40px;
    color: var(--description_color);
}

.destination_details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    text-align: center;
}

.Maldives {
    background: url(Images/Rectangle\ 5.png);
    grid-column: auto / span 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 132px 227px;

}

.Indonesia {
    grid-column: auto / span 2;
    background: url(Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 132px 227px;
}

.Srilanka {
    background: url(Images/Rectangle\ 6.png);
    grid-column: auto / span 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 125px 130px;
}

.America {
    background: url(Images/Rectangle\ 7.png);
    grid-column: auto / span 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 125px 137px;
}

.Kashmir {
    background: url(Images/Rectangle\ 11.png);
    grid-column: auto / span 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 125px 130px;
}

.Bangladesh {
    background: url(Images/Rectangle\ 11.png);
    grid-column: auto / span 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 125px 130px;
}

.Bandarban {
    background: url(Images/Rectangle\ 10.png);
    grid-column: auto / span 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 125px 130px;
}