* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* CSS Variables */
:root {
    --primary_color: #FF5400;
    --secondary_color: #131318;
    --description_color: #5A5A5D;
    --title_color: #fff;
    --manu_color: #424247;
    --bannner_section_color: #ffffff4d;
}

/* shared styles */
body {
    margin: 0px auto 0px;
}

header,
.destination,
.why_choose_us,
.deals_section,
.popular_tours_section,
.newsletter_section,
.app_section {
    margin: auto 135px;
}

.popular_tours_title {
    color: var(--secondary_color);
    font-size: 2.5rem;
    font-weight: 800;
}

/* header area styles */
header {
    margin-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;

}

.site_name {
    display: flex;
    font-size: 2.25rem;
    column-gap: 16px;
}

.site_name_2nd {
    color: var(--primary_color);
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul a {
    text-decoration: none;
    margin-left: 44px;
    font-size: 1.13rem;
    /* color: var(--secondary_color); */
}

.manu_bar_active {
    color: var(--primary_color);
    font-weight: 700;
}

/* banner section styles */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    /* margin: 106px 185px; */
    padding: 106px 185px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-top: 49px;
}

.banner_content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.banner_title {
    color: var(--title_color);
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 24px;
}

.banner_description {
    color: var(--title_color);
    margin-bottom: 50px;
}

.search {
    border-radius: 8px;
    background: var(--bannner_section_color);
    display: flex;
    justify-content: center;
    column-gap: 24px;
    padding: 16px;
    width: 800px;
    margin: auto;
}

.search input,
select,
.submit_button {
    padding: 16px;
    border-style: none;
    border-radius: 8px;
    width: 174px;
    color: #13131880;
}

.submit_button {
    color: var(--title_color);
    background-color: var(--primary_color);
    font-weight: 700;
}

/* popular tours section styles */

.popular_tours_section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    column-gap: 50px;
}

.content_area {
    color: var(--description_color);
}

.content_area p {
    margin: 26px 0px;
    text-align: justify;
}

.content_area li {
    margin: 26px 0px;
}

.read_more_button {
    color: var(--title_color);
    background-color: var(--primary_color);
    border-style: none;
    padding: 15px 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    font-weight: 800;
    margin-top: 32px;
}

/* destination section styles */

.destination_content {
    text-align: center;
}

.destination_content>h2 {
    color: var(--secondary_color);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination_content>p {
    width: 645px;
    margin: auto;
    margin-bottom: 40px;
    color: var(--description_color);
}

.destination_details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    text-align: center;
    margin: 0px 13px;
}

.Maldives {
    background: url(Images/Rectangle\ 5.png);
    grid-column: auto / span 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 132px 227px;

}

.Indonesia {
    grid-column: auto / span 2;
    background: url(Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 132px 227px;
}

.Srilanka {
    background: url(Images/Rectangle\ 6.png);
    grid-column: auto / span 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 125px 130px;
}

.America {
    background: url(Images/Rectangle\ 7.png);
    grid-column: auto / span 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 125px 137px;
}

.Kashmir {
    background: url(Images/Rectangle\ 11.png);
    grid-column: auto / span 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 125px 130px;
}

.Bangladesh {
    background: url(Images/Rectangle\ 11.png);
    grid-column: auto / span 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 132px 155px;
}

.Bandarban {
    background: url(Images/Rectangle\ 10.png);
    grid-column: auto / span 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--title_color);
    padding: 132px 260px;
}

/* why choose us section */

.why_choose_us_content {
    text-align: center;
    width: 645px;
    margin: 100px auto;
}

.why_choose_us_title {
    color: var(--secondary_color);
    font-size: 2.5rem;
    margin-bottom: 24px;
    font-weight: 800;

}

.why_choose_us_content_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.why_choose_us_title2 {
    margin: 32px 0px 16px;
}

.hotal,
.maps,
.best_price {
    border-radius: 16px;
    padding: 32px 55px 32px;
}

.hotal {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    grid-column: auto / span 2;
}

.maps {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    grid-column: auto / span 2;
}

.best_price {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    grid-column: 2 / span 2;
}

/* Deals and Discounts Section styles */
.deals_content {
    width: 645px;
    margin: 100px auto 50px;
    text-align: center;
}

.deals_title {
    color: var(--secondary_color);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.deals1 {
    background: url(Images/Group\ 39.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deals1_details {
    position: relative;
    right: -344px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #ffffffcc;
    backdrop-filter: blur(2.5px);
    padding: 50px 77px 50px;
    width: 789px;
}

.deals1_details i {
    color: var(--primary_color);
}

.deals1_details p>span {
    margin-left: 24px;
}

.deals1_title {
    margin-top: 26px;
    margin-bottom: 16px;
    color: var(--secondary_color);
    font-size: 1.5rem;
    font-weight: 800;
}

.deals1_details_description {
    margin-bottom: 16px;
    color: var(--description_color);
}

.deals1_details_price {
    color: var(--primary_color);
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.book_now {
    color: var(--title_color);
    border-style: none;
    background: var(--primary_color);
    padding: 14px 25px;
    border-radius: 8px;
}

.deals2 {
    background: url(Images/Group\ 40.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;
}

.deals2_details {
    position: relative;
    left: -350px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #ffffffcc;
    backdrop-filter: blur(2.5px);
    padding: 50px 77px 50px;
    width: 789px;
}

.deals2_details i {
    color: var(--primary_color);
}

.deals2_details p>span {
    margin-left: 24px;
}

.package_button {
    width: 250px;
    margin: auto;
}

div>.package_btn {
    color: var(--title_color);
    background-color: var(--primary_color);
    border-style: none;
    padding: 15px 35px;
    font-size: 1.2rem;
    border-radius: 8px;
    font-weight: 800;
    margin-top: 60px;
}

/* perfect place */

.newsletter_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.newsletter_box {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    grid-column: auto / 1;
}

.newsletter_title {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.newsletter_box hr {
    margin: 24px 0px;
}

.newsletter_box form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 16px;
    margin-bottom: 16px;
    border-style: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

form .submit_button {
    color: var(--title_color);
    background-color: var(--primary_color);
    border-style: none;
    font-size: 1.2rem;
    border-radius: 8px;
    font-weight: 800;
    margin-top: 8px;
    width: 100%;

}

.newsletter_offer_box {
    background: url(Images/Rectangle\ 8\ \(1\).png);
    grid-column: 1 / 4;
    height: 422px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.newsletter_offer {
    width: 275px;
    height: 100px;
    background: var(--primary_color);
    border-radius: 16px;
    text-align: center;
    padding: 20px 0px;
    color: var(--title_color);
    position: relative;
    bottom: -250px;
    right: -835px;
    rotate: 325deg;
}

/* footer styles */
footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    padding: 110px;
    text-align: center;
}

.site_name_footer {
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 15px;
}

.footer_description {
    width: 769px;
    margin: auto;
}

.footer_icons {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-top: 33px;

}

.footer_icons a {
    color: var(--description_color);
}

footer hr {
    width: 872px;
    margin: 50px auto;
}

/* Mobile App Section */

.app_section {
    display: flex;
    margin-top: 100px;
    column-gap: 200px;
    /* align-items: center; */
}

.app_section_left_side {
    border: 1px solid #FF5400;
    border-radius: 16px;
    padding: 150px 50px 150px 150px;
}

.app_section_left_side_title {
    color: var(--secondary_color);
    font-size: 2.0rem;
    font-weight: 800;
    padding-bottom: 24px;
}

.app_section_icon>i {
    font-size: 5rem;
    padding: 25px;
}

.icon_star i {
    color: #FF5400;
}

.app_section_right_side {
    background: #FF5400;
    padding: 150px 150px 150px 150px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app_section_right_side button {
    padding: 24px 35px;
    border-style: none;
    color: var(--primary_color);
    font-size: 2.0rem;
}

/* responsive styles */

/* mobile */

@media screen and (max-width: 600px) {

    header,
    .popular_tours_section,
    .destination,
    .why_choose_us,
    .deals_section,
    .newsletter_section {
        margin: 20px 20px;
    }

    header nav,
    .popular_tours_section {
        flex-direction: column;
    }

    .banner {
        padding: 32px;
    }

    .banner_title {
        font-size: 1.3rem;
        font-weight: 800;
    }

    .search {
        border-radius: 8px;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        width: 100%;
        margin: auto;
    }

    .search input,
    select,
    .submit_button,
    .destination_content>p,
    .img img,
    .footer_description {
        width: 100%;
    }

    .read_more_button {
        margin-bottom: 24px;
        padding: 15px 35px;
    }

    .destination_details {
        display: flex;
        flex-direction: column;
    }

    .why_choose_us_content {
        width: 100%;
        margin: 20px auto;
    }

    .why_choose_us_content_box {
        display: flex;
        flex-direction: column;
    }

    .deals_content {
        width: 100%;
        margin: auto;
        margin-bottom: 16px;
    }

    .deals1_details {
        padding: 24px;
        width: 90%;
        right: auto;
        bottom: -50px;
    }

    .deals2_details {
        padding: 24px;
        width: 90%;
        left: auto;
        bottom: -50px;
    }

    .newsletter_section {
        display: flex;
        flex-direction: column;
    }

    .newsletter_offer {
        right: -275px;
    }

    footer {
        margin-top: 50px;
        padding: 20px;
    }

    footer hr {
        width: 100%;
        margin: 20px auto;
    }
}